!!!
%html
  %head
    %title Trevor john

    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"

    = csrf_meta_tags

  %body
    .body

      = render "shared/header-bar"

      = yield
